$color--primary : #1F87FF;
$color--primary-bg : lighten($color--primary, 38%);
$color--secondary : #0d0c22;
$color--secondary-bg : lighten($color--secondary, 65%);
$color--not-important : #90959A;
$color--error: #FF1D0E;
$color--error-bg : lighten($color--error, 43%);
$color--info: #F8C529;
$color--info-bg : lighten($color--info, 38%);
$color--success: #32C954;
$color--success-bg : lighten($color--success, 44%);
$color--text : #656567;
$color--text2 : #9F9F9F;
$color--text3 : #B9B9B9;
$color--text4 : #6e6d7a;
$color--text5 : #8786AD;
